Release/*
Debug/*
x64/Release/*
x64/Debug/*

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.vs/*
RtMidi/doc/
RtMidi/tests/
RtMidi/msw/Debug/
RtMidi/msw/Release/
RtMidi/msw/Win32/Debug/
RtMidi/msw/Win32/Release/
RtMidi/msw/x64/Debug/
RtMidi/msw/x64/Release/
*.db
*.suo
*.ipch
*.db
*.ini
*.ini
RtMidi/msw/rtmidilib.vcxproj.user
